<h1>Utilisateurs</h1>

<table class="admin_table table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Login</th>
            <% if (user_signed_in?) && (current_user.has_role?(:admin)) %>
                <th>Delete</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %> 
                <tr>
                    <td> <%= link_to "##{user.id}", controller: "users", action: "edit", id: user.id %> </td>
                    <td> <%= user.name %> </td>
                    <% if (user_signed_in?) && (current_user.has_role?(:admin)) %>
                        <td style="width: 30px;"> 
                        <a><%= link_to user_path(user), method: :delete, data: { confirm: 'Es-tu sûr de vouloir supprimer cet utilisateur ?'} do %> 
                            <span class="iconify" data-icon="feather:trash-2" ></span>
                        <% end %></a>
                        </td>
                    <% end %>
                </tr>
        <% end %>
    </tbody>
</table>