<p>
  <strong>Titre:</strong>
  <%= @film.titre %>
</p>

<p>
  <strong>Realisateur:</strong>
  <%= @film.realisateur %>
</p>
<% if (!current_user.nil?) && (current_user.has_role? "admin") %>
  <%= link_to 'Edit', edit_film_path(@film) %> |
<% end %>
<%= link_to 'Back', films_path %>
